.performancesEvents,.tourismEvents {
    width: 100%;

    .row {

        .cardBox {
            width: 100%;

            .mySwiper {

                .slideCard {
                    width: 471px;
                    height: auto;

                    .card {
                        width: 100%;
                        height: 100%;

                        .cardEvent {
                            .cardImg {
                                height: 415px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.popularEvents {
    width: 100%;
    margin-top:40px;
        .mySwiper {
            .swiperSlide{
                width: 471px;
                .card {
                    .cardImg {
                        .image {
                            height: 480px;
                            
                        }
                    }
                }
            }
        }
    }

    @media(max-width:1255px){
        .popularEvents {
                .mySwiper {
                    .swiperSlide{
                        width: 100%;
                        .card {
                            .cardImg {
                                .image {
                                    height: 100%;
                                    
                                }
                            }
                        }
                    }
                }
            }
    }