.header {
  position: relative;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.05);
  z-index: 999;

  &.homeHeader {
    position: absolute;
    background-color: transparent;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.00);

    .row {
      padding: 56px;

      .lng {
        .btn {
          border: 1px solid #fff;
          color: #fff;
        }
      }

      .navBar {
        .navList {
          .navItem {
            a {
              color: #fff;
            }
          }

          .active,
          .dropDown {
            .dod {
              color: #fff;
            }
          }
        }
      }
      .userArea {
       .searchIcon,.heartIcon{
        color: #fff;
       }
 .carts{
  .icart {
    color: #fff;
  }
  .count {
    color: #fff;
  }
 }
      }
    }
  }

  .row {
    align-items: center;
    max-width: 1440px;
    padding: 20px 32px;
    margin: 0 auto;

    .bars {
      display: none;
    }

    .logo {
      display: flex;
      flex: 0 0 160px;
      justify-content: center;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .navBar {
      display: flex;
      flex: 1 1 0%;
      padding: 16px;

      .lng {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 40px;

        .btn {
          outline: none;
          border: 0;
          background-color: transparent;
          border: 1px solid rgb(190, 190, 190);
          padding: 4px;
          font-size: 12px;
          font-weight: 600;
          color: #bebebe;

          &:nth-child(1) {
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
            border-right: 0;
          }

          &:nth-child(2) {
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
          }
        }
      }

      .navList {
        display: flex;

        .navItem {
          cursor: pointer;

          a {
            padding-right: 20px;
            font-size: 20px;
            line-height: 28px;
            width: 100%;
            color: #000;
            font-weight: 700;
            position: relative;
            transition: 0.4s ease;

            &::before {
              content: "";
              width: 100%;
              background: url(../../images/line.svg) no-repeat 50% 50%;
              background-size: 100px;
              bottom: -9px;
              height: 9px;
              left: 0;
              opacity: 0;
              position: absolute;
              right: 20px;
            }

            &:hover {
              &::before {
                opacity: 1;
              }
            }

            &.active {
              &::before {
                opacity: 1;
              }
            }
          }
        }

        .active {
          display: flex;
          align-items: flex-end;

          .dropDownList {
            display: none;
          }
        }

        .dropDown {
          position: relative;
          display: flex;
          align-items: flex-end;

          .dropDownList {
            position: absolute;
            background-color: #fff;
            top: 50px;
            right: 0;
            border-radius: 10px;
            box-shadow: 0 15px 38px rgba(0, 0, 0, 0.104);
            padding: 16px 0;

            .dropDownItem {
              a {
                display: block;
                width: 195px;
                padding: 0 20px;
                font-size: 18px;
                font-weight: 600;
                margin-bottom: 16px;
                line-height: 28px;
                color: #000;
              }

              &:last-child {
                a {
                  margin-bottom: 0;
                }
              }

              &:hover {
                background: #f9f9f9;
              }

              &:nth-child(1) {
                display: none;
              }

              &:nth-child(2) {
                display: none;
              }
            }
          }
        }
      }
    }

    .userArea {
      display: flex;
      padding: 5px;
      align-items: center;
      justify-content: center;
      font-size: 22px;
      gap: 26px;

      .heartIcon,
      .searchIcon {
        font-size: 24px;
        cursor: pointer;
        color: #bebebe;
      }

      .personOut {
        border-radius: 50%;
        background-color: #ffdd00;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #000;
        cursor: pointer;

        .personOutLine {
          color: #000;
        }
      }

      .carts {
        display: flex;
        align-items: center;

        .icart {
          font-size: 27px;
          cursor: pointer;
          color: #bebebe;
        }

        .count {
          font-size: 15px;
          font-weight: 700;
          color: #bebebe;
        }
      }
    }

    .inputSearc {
      display: none;
    }
  }
.cartBtnFixed{
  position: fixed;
  bottom: 20px;
  right: 20px;
  .cartBtn {
    position: relative;
    height: 52px;
    width: 52px;
    padding: 12px;
    pointer-events: auto;
    z-index: 10;
    background-color: #ffdd00;
    border-radius: 50%;
    border: none;
    outline: none;
.cartBtnCount{
  display: flex;
  font-size: 14px;
  height: 22px;
  justify-content: center;
  line-height: 20px;
  position: absolute;
  right: -5px;
  top: -5px;
  width: 22px;
  z-index: 10;
  align-items: center;
  background-color: #b91c1c;
  border-radius:9999px ;
  color: #fff;
}
  }
}
}

@media(max-width:1476px) {
  .header {
    &.homeHeader {
      .row {
        padding: 56px 80px;

        .navBar {
          .navList {
            .navItem {
              &:nth-last-child(2) {
                display: none;
              }
            }

            .dropDown {
              .dropDownList {
                .dropDownItem {
                  &:nth-child(2) {
                    display: block;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media(max-width:1300px) {
  .header {
    .row {
      .navBar {
        .navList {
          .navItem {
            &:nth-last-child(2) {
              display: none;
            }
          }

          .dropDown {
            .dropDownList {
              .dropDownItem {
                &:nth-child(2) {
                  display: block;
                }
              }
            }
          }
        }
      }
    }

    &.homeHeader {
      .row {
        .navBar {
          .navList {
            .navItem {
              &:nth-last-child(3) {
                display: none;
              }
            }

            .dropDown {
              .dropDownList {
                .dropDownItem {
                  &:nth-child(1) {
                    display: block;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1255px) {
  .header {
    &.homeHeader {
      .row {
        padding: 56px 70px;
      }
    }

    .row {
      padding: 15px 32px;
      justify-content: space-between;

      .logo {
        flex: 0 0 160px;
        margin-left: 80px;
      }

      .bars {
        display: flex;

        .bar {
          font-size: 20px;
          color: #bebebe;
        }
      }

      .lng {
        display: none;
      }

      .navBar {
        display: none;
      }

      .userArea {
        gap: 16px;

        .searchIcon {
          display: none;
        }
      }

      .inputSearc {
        display: block;
        position: absolute;
      }
    }
  }
}

@media (max-width: 1025px) {
  .header {
    .row {
      .logo {
        flex: 0 0 160px;
      }

      .userArea {

        .searchIcon,
        .heartIcon {
          display: none;
        }

        .personOut {
          width: 35px;
          height: 35px;

          .personOutLine {
            font-size: 17px;
          }
        }

        .cart {
          .icart {
            font-size: 20px;
          }

          .count {
            font-size: 15px;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    .row {
      padding: 8px 16px;

      .logo {
        flex: 0 0 27%;
      }

      .userArea {

        .searchIcon,
        .heartIcon {
          display: none;
        }

        .personOut {
          width: 35px;
          height: 35px;

          .personOutLine {
            font-size: 17px;
          }
        }

        .cart {
          .icart {
            font-size: 20px;
          }

          .count {
            font-size: 15px;
          }
        }
      }
    }
  }
}

@media(max-width:576px) {
  .header {
    .row {
      .logo {
        flex: 0 0 20%;
      }
    }
  }
}