.favoriEvents{
    width: 100%;
    .container{
.warnig{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    img{
        height: 100%;
        margin-right: 10px;
    }
}
    }
}